.carousel {
    display: flex;
    flex: 0 0 100%;
    /* gap:150px; */
    overflow: hidden;
    position: relative;
    color:black;
    
    /* ... */
    /* &:hover .group {
        animation-play-state: paused;
    } */
}

.carousel:hover .group {
    animation-play-state: paused;
}   

.group {
    display:flex;
    /* ... */
    will-change: transform;
    animation: scrolling 10s linear infinite;
}
.card{
    display: flex;
    width: 200px;
    flex: 0 0 auto;
    /* padding: 5px 0; */
    margin: 0 0;
    border-radius: 5px;
    text-align: center;
    justify-content: center;
}
@keyframes scrolling {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}